*{
  background-color: black;
}
.app{
  text-align: center;
  color: aqua; 
  
 
}
.home{
  color: brown;
}
.title{
  color: chartreuse;
}
.btn{
  color:rgb(28, 160, 48);
  background-color:cornsilk;
  height: 30px;
  width: 80px;
  font-size:inherit ;
}
